# Logging
LOG_LEVEL=info

# Telegram
BOT_TOKEN=
BOT_OWNER_IDS=

# SQLite
SQLITE_PATH=./data/bot.db

# LMDB search indexes
LMDB_ID_PATH=./data/lmdb/id
LMDB_PHONE_PATH=./data/lmdb/phone
LMDB_USERNAME_PATH=./data/lmdb/username

# Search limits
POINTS_PER_SEARCH=1
MAX_SEARCH_RESULT=100
